/* Header */

.top-section{
    background: #ccf2ff url('images/sprinkle_cupcakes.jpg') center ;
    background-size: cover;
    padding-top: 170px;
    height: 760px;
}

#intro {
  font-size: 5rem; 
  text-align: center;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.3;
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: 12px 0 0; 
  font-family: Helvetica, sans-serif;

}

.about-title{
    text-align: center;
    font-size: 3rem;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    color: palevioletred;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    padding-top: 20px;

}

.body_header{
    color:cornflowerblue;
    text-align: center;
    text-shadow: 0 1px 1px lightslategray;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif
}

/*Logo Image*/
.img-logo{
width:75px;height:75px
}

/*Rows of Images */

.first{
    float: left; 
    width: 30%;
    margin-left: 1%;
    margin-right: 3%;
    margin-bottom: 0.5em;

}

.second,.third{
    float: left; 
    width: 30%; 
    margin-right: 3%; 
    margin-bottom: 0.5em;
}

/*Paragraph*/
.about-para{
    font-size:1.5em;
    padding-left:1em;  
   
}




/*Footer */

/* Media Queries */





@media only screen and (max-width: 700px) {
  
#intro{
    font-size: 4em;
    
}
    
.img-logo{
    display: none;
}
  
  }
  
  @media only screen and (max-width: 990px) {

    .about-para{
        margin:auto;
        padding-left: 2em;
        padding-top: 2em;
       
    }
    .img-logo{
        display: none;
    }
}    

  @media only screen and (max-width: 500px) {
    #intro {
     font-size: 3em;
       
    }
    .img-logo{
        display: none;
    }
    
    .about-para{
        padding-right: 1em;
        padding-left: 1em;
        padding-top: 1em;
    }
    

  
  }