
body{
    background-color:white;
    text-align: center;
     font-weight: 50;
    flex:1;
    font-size: 14px;
   text-decoration: none;
 
 }

 .animation{
   animation: change 15s infinite;
 }
   @keyframes change {

    0%{background-color:lightpink}
    25%{background-color:lavender}
    50%{background-color:peachpuff}
   75%{background-color:floralwhite}
  100%{background-color:#BC8F8F}
  
   }
 





 
 h1{
   font-family: 'Playfair Display', serif;
   font-style: italic;
   
 
 }
 
 .headertext{ 
     font-family: 'Tangerine', cursive;
    
 }
 
 .nav-link{
   font-family: 'Cormorant Garamond', serif;
   font-size: 15px;
  
 }

 .main-background {
   background-color:white;
 }
 span {
     border-right: .05em solid;
     padding-left: 10px;
     animation: caret 1s steps(1) infinite;
    
   }
   

   input, textarea {
     margin: 10px;
     padding: 12px;
     width: 70%;
   }
   
 

   a{
 color: black;
 
   }


  a:hover{
 color: darkslategrey;
 font-style: italic;
 
 
 }
   .bodytitle{
    
       font-weight: 150;
       padding: 20px;
    
   }
 
   img{
   
    width: 50%;
   }
 
 .bio-temp{
 
  text-decoration:#BC8F8F wavy underline;
   
 }
 
 


footer{
 
  border-top: 1px solid  black;
  padding: 32px;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}




div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
float: left;
  width: 180px;
}
div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;

}



@media only screen and (max-width: 700px) {
  .responsive {
      width: 49.99999%;
      margin: 6px 0;
  }
  

}

@media only screen and (max-width: 500px) {
  .responsive {
      width: 100%;
     
  }
  

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

   @keyframes caret {
     50% {
       border-color: transparent;
     }
   }
   
   
   

   body{
  
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0.3;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0.3;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0.3;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0.3;
    }
    to {
        opacity: 1;
    }
}