
body{
    background-color: #fffcfc;
    text-align: center;
     font-weight: 50;
     flex: 1;
    color: midnightblue;
    font-size: 14px;
   
 }
 
 h1{
   font-family: 'Playfair Display', serif;
   font-style: italic;
   color: midnightblue;
 
 }
 
 .headertext { 
     font-family: 'Playfair Display', serif;
     font-style: italic;
     color: midnightblue;
  
 
 }
 
 
 .main-background {
   background-color: #fbf1ed;
   border-bottom: 1px solid 	MistyRose  ;
 }
 span {
     border-right: .05em solid;
     padding-left: 10px;
     animation: caret 1s steps(1) infinite;
    
   }
 
   a{
 color: midnightblue;
 
 
   }
 
 a:hover{
  color: #BC8F8F; 
 ;
 
 }
   .bodytitle{
    
       font-weight: 150;
       padding: 20px;
       color: midnightblue;
   }
 
   img{
   
    width: 50%;
   }
 
 .bio-temp{
 
  text-decoration:#BC8F8F wavy underline;
   
 }
 


footer{
  background-color: #fbf1ed;
  border-top:1px solid  mistyrose;
  padding: 32px;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}


 


 
   @keyframes caret {
     50% {
       border-color: transparent;
     }
   }
 